<div class="wrapper">
    <header>
        <div class="controls text-center">
            <button routerLink="/"><i class="fas fa-arrow-left"></i></button>
            <button [disabled]="!auth.token" (click)="openAddNew()" id="openAddNew">
                <i class="fas fa-plus"></i>
            </button>
            <button id="openFullMap" (click)="openFullMap()"><i class="fas fa-map-marked-alt"></i></button>
        </div>
        <div *ngIf="!auth.token || !mobile" class="logo" routerLink="">
            City <span style="color: rgb(0, 204, 255)">Walls</span>
        </div>
        <div class="row">
            <div class="col logButton">
                <div class="btn-group mr-3">
                    <button type="button" class="btn btn-outline-success logEmail" *ngIf="auth.token">{{auth.userEmail}}</button>
                    <div class="btn-group" ngbDropdown placement="bottom-right" role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-sign-in-alt"></i></button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <input *ngIf="!auth.token" class="dropdown-item" type="button" name="" id="signIn" value="Sign In"
                                (click)="openSignIn()">
                            <input *ngIf="!auth.token" class="dropdown-item" type="button" name="" id="signUp" value="Sign Up"
                                (click)="openSignUp()">
                            <input *ngIf="auth.token" class="dropdown-item" type="button" name="" id="LogOff" value="Log Off"
                                routerLink="" (click)="LogOut()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="selection">
        <div id="filters">
            <h4>Фільтр:</h4>
            <p>(в розробці)</p>
            <label *ngFor="let type of types" style="display:block;">
                <input type="checkbox" [name]="type" [value]="type">{{type}}
            </label>
        </div>
        <div id='map'></div>
    </div>
    <div class="content">
        <div class="composition">
            <div class="card" *ngFor="let card of objects; let i = index" (mouseenter)="panToMarkerLocation(card)"
                (mouseleave)="removeMarker()" style="width: 18rem;">
                <img class="card-img-top cardMainImage" src="{{card.properties.imagePreview}}" (click)="openGallery(i)">
                <div class="card-body">
                    <h6 class="card-title text-center cardMainTitle">{{card.properties.name}}</h6>
                    <div class="voter">
                        <button id="voteUp" (click)="voter(card.id, 'good')" class="mr-2" [disabled]="!auth.token"><i class="fas fa-thumbs-up" [style.color]="getStyle(card.id, 'good')"></i></button>
                        <p>{{getVoterLength(card.id, 'good')}}</p>
                        <button id="voteDown" (click)="voter(card.id, 'bad')" class=" ml-2 mr-2" [disabled]="!auth.token"><i class="fas fa-thumbs-down" [style.color]="getStyle(card.id, 'bad')"></i></button>
                        <p>{{getVoterLength(card.id, 'bad')}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

