.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 10px 10px 10px;
}
.selection{
    display: block;
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
}
.content{
    width: 75%;
    height: 100vh;
    position: relative;
    left: 25%;
    top: 0;
}
#map {
    width: 25%;
    height: 200px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
}

h1{
    text-align: center;
}
.composition{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 200px !important;
    margin: 20px 10px ;
    height: 200px;
    transition: 0.3s;
    outline: none;
    position: relative;
}
.card:hover{
    box-shadow: 0 0 10px green;
}

.card img{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    object-fit: none;
}
.card p{
    font-size: 10px;
    overflow: hidden;
}

.controls button{
    margin: 5px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
#openAddNew:disabled:hover::after{
    content: "Залогуйтеся, щоб додавати графіті!";
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 10px;
    color: blue;
    background-color: rgba(255, 255, 0, 0.85);
}
#openFullMap:disabled:hover::after{
    content: "Карта в розробці!";
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 10px;
    color: blue;
    background-color: rgba(255, 255, 0, 0.85);
}
header{
    padding: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 0, 0.9);
}
.logo{
    cursor: pointer;
    font-family: BEYNO;
    font-weight:bolder;
    font-size: 30px;
    line-height: 30px;
}
#filters{
    padding: 15px;
}
#filters input[type="checkbox"] {
    margin-right: 5px;
}
.voter{
    display: flex; 
    justify-content: center; 
    cursor: pointer;
    z-index: 100;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}
.voter * {
    color: gray;
    cursor: pointer;
}
.voter p{
    line-height: 25px;
}
#voteUp, #voteDown, #openGallery{
    background: none;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    position: relative;
}
#voteUp:disabled:hover::after,
#voteDown:disabled:hover::after {
    position: absolute;
    content: "Потрібно залогуватися щоб обінювати!";
    top: 0;
    left: -10px;
    font-size: 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    z-index: 1009;
    border-radius: 3px;
}
.fa-thumbs-up:hover{
    color: green;
    transform: scale(1.2);
}
.fa-thumbs-down:hover{
    color: red;
    transform: scale(1.2);
}

@media screen and (max-width:666px){
    .wrapper{
        padding: 60px 0 0 0;
    }
    #filters{
        padding: 0;
    }
    #filters input[type="checkbox"] {
        margin-right: 2px;
    }
    .container{
        padding: 60px 5px 0;
    }
    .selection{
        padding: 60px 5px 5px;
        width: 30%;
    }
    .content{
        left: 30%;
        width: 70%;
    }
    #map{
        width: 30%;
    }
}
@media screen and (max-width:378px){
    .controls button{
        margin: 5px;
        padding: 0;
    }
    .logo{
        font-size: 20px;
    }
    .logButton{
        margin: 0 !important;
        padding: 0 !important;
    }
    .logEmail{
        width: 150px;
        overflow: hidden;
        padding: 5px;
    }
    #filters > label{
        font-size: 10px;
    }
    #map{
        display: none;
    }
}