<div class="wrapper">
	<div class="selection">
		<div id="filters">
			<h4>Фільтр:</h4>
			<p>(в розробці)</p>
			<label *ngFor="let type of types" style="display:block;">
				<input type="checkbox" [name]="type" [value]="type">{{type}}
			</label>
		</div>
		<div id='map'></div>
	</div>
	<div class="content">
		<div class="composition">
			<app-card
				*ngFor="let card of objects; let i = index"
				(mouseenter)="panToMarkerLocation(card)"
				(mouseleave)="removeMarker()"
				style="width: 18rem;"
				[card]="card"
				[index]="i+''">
			</app-card>
		</div>
	</div>
</div>
