.wrapper{
	display: flex;
	justify-content: space-between;
	padding: 60px 10px 10px 10px;
}
.selection{
	display: block;
	width: 25%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 60px;
}
.content{
	width: 75%;
	height: 100vh;
	position: relative;
	left: 25%;
	top: 0;
}
#map {
	width: 25%;
	height: 200px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 1000;
}

h1{
	text-align: center;
}
.composition{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
app-card {
	width: 200px !important;
	margin: 20px 10px ;
	height: 200px;
	transition: 0.3s;
	outline: none;
	position: relative;
}
app-card:hover{
	box-shadow: 0 0 10px green;
}
#filters{
	padding: 15px;
}
#filters input[type="checkbox"] {
	margin-right: 5px;
}

@media screen and (max-width:666px){
	.wrapper{
		padding: 60px 0 0 0;
	}
	#filters{
		padding: 0;
	}
	#filters input[type="checkbox"] {
		margin-right: 2px;
	}
	.container{
		padding: 60px 5px 0;
	}
	.selection{
		padding: 60px 5px 5px;
		width: 30%;
	}
	.content{
		left: 30%;
		width: 70%;
	}
	#map{
		width: 30%;
	}
}
@media screen and (max-width:378px){
	.controls button{
		margin: 5px;
		padding: 0;
	}
	.logo{
		font-size: 20px;
	}
	.logButton{
		margin: 0 !important;
		padding: 0 !important;
	}
	.logEmail{
		width: 150px;
		overflow: hidden;
		padding: 5px;
	}
	#filters > label{
		font-size: 10px;
	}
	#map{
		display: none;
	}
}