#newComposition{
    margin-top: 50px;
}

form,
h1 {
    /* max-width: 600px; */
    margin: 50px;
}

input.ng-invalid.ng-touched {
    border-left: 5px solid red;
}

input.ng-valid.ng-touched {
    border-left: 5px solid green;
}
#mapAdd{
    height: 200px;
    width: 100%;
}
#mapAdd button{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1002;
}
#imageUploadGroup{
    padding: 0;
    position: relative;
}
#imageUploadGroup p {
    position: absolute;
    left: 10%;
    top: 5px;
}
#imageFile{
    width: 50px !important;
    margin: 0;
    opacity: 0.001;
}

#userFile{
    width: 100%;
}
#submitSent{
    position: relative;
}
.requiredField{
    position: relative;
}
.requiredField::after{
    position: absolute;
    top: -15px;
    right: -15px;
    content: "*";
    color: red;
    font-size: 30px;
}
#submitSent:disabled:hover::after{
    content: "Заповніть усі обов'язкові поля!";
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 14px;
    color: blue;
    background-color: red;
}

/* #imageFile{
    position: absolute;
    opacity: 0.1;
    z-index: 10;
    left: 0;
    top: 40px;
    height: 30px;
}
#imageUploadGroup{
    position: relative;
    height: 70px;
}
#imageUploadButton{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 40px;
    height: 30px;
    width: 100%;
    border: 1px solid green;
    border-radius: 5px;
    background: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
} */