<button id="closeGallery" (click)="closeModal()"><p>x</p></button>
<ngb-carousel #myCarousel="ngbCarousel">
    <ng-template ngbSlide *ngFor="let card of objects; let i = index" id="{{i}}" class="slide">
        <img class="img" src="{{card.properties.imageFull}}" alt="Random i slide">
        <div class="description">
            <h3>{{card.properties.name}}</h3>
            <p>{{card.properties.description}}</p>
            <p *ngIf="card.properties.author">Автор: {{card.properties.author}}</p>
        </div>
    </ng-template>
</ngb-carousel>
